

.app {
  text-align: center;
}

.image_container {
  display: inline-block;
  position: relative;
  text-align: center;
}
.actual_image {
  position: relative;

}
.clouds {
  position: absolute;
  z-index: 2
}

#cloud1{
  left:0px;
  top: 30px;
  width: 400px;
}

#cloud2{
  left: 290px;
  top: 200px;
  width: 300px;
}

#cloud3{
  left: 450px;
  top: 10px;
  width: 200px;
}



 .rain{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 1046px;
  height: 900px;
}


/* .empty_box {
  position: absolute;
  top: 550px;
  left: 200px;
  z-index: 1;
  width: 600px;
  height: 100px;
} */


/* @keyframes boat {
    0% {
      right: 0px;
      opacity: 1;
    }
    99% {
      opacity: 1;
    }
    100% {
      right: 525px;
      overflow: hidden;
      opacity: 0;
      display: none;
      visibility: hidden;
    }
}

.boat {
  position: absolute;
  top: -58px;
  right: 0px;
  z-index: 2;
  width: 75px;
  animation-name: boat;
  animation-duration: 100s;
  animation-fill-mode: forwards;
} */
